<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss sss} [%X{requestURIWithQueryString}] [%p] %l - %m%n"/>
        </layout>
    </appender>

    <!-- spring mvc log -->
    <logger name="org.springframework.web">
        <level value="warn"/>
    </logger>

    <!-- spring & hibernate transaction log -->
    <logger name="org.springframework.transaction">
        <level value="info"/>
    </logger>
    <logger name="org.springframework.jdbc.datasource">
        <level value="info"/>
    </logger>
    <logger name="org.springframework.orm.hibernate4">
        <level value="info"/>
    </logger>

    <logger name="org.hibernate">
        <level value="info"/>
    </logger>

    <logger name="com.ejushang.uams">
        <level value="debug" />
    </logger>

    <root>
        <level value="${loggerLevel}"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>
